.h-screen.w-full.flex.flex-col.bg-gray-50.p-4
  %p{:style => "color: green"}= notice
  %h1.text-4xl.text-gray-800.font-semibold Trips
  = render partial: 'trips/form', locals: {trip: Trip.new, places: Place.all.collect { |place| [place.name, place.id] }}, :id => 'form'
  #trips
    - @trips.each do |trip|
      = render trip
      %p
        = link_to "Show this trip", trip
