<div class="bg-gray-200 h-96 w-full flex flex-col items-center justify-center group">
  <div class="w-3/4 max-auto py-2 group-hover:bg-gray-800 flex justify-center transition duration-300">
    <h3 class="text-gray-800 group-hover:text-gray-50 transition duration-300">
      <%= place.name %>
    </h3>
  </div>
</div>
