.w-full.h-screen.flex.flex-col
  = turbo_frame_tag :modal do
    .fixed.h-screen.w-full.top-0.flex.justify-center.pt-40{"data-modal-target" => 'container'}
      .bg-gray-800.bg-opacity-50.w-full.h-screen.fixed.top-0{:data => {:action => 'click->modal#close'}}
        .mx-auto.bg-gray-50.rounded-lg.self-start.p-5{:class => 'w-3/4 lg:w-1/2'}
          .flex.justify-between
            %h1.text-4xl.text-gray-800.font-semibold.my-4
              Edit place -
              = @place.name
            %a.text-gray-800.font-semibold{:href => '#', :data => {:action => 'modal#close'}}
              X
          .w-full.mt-8.p-4
            = render 'form', place: @place

