<div class="w-full h-screen flex flex-col tw-gray-100">
  <h1 class="text-4xl text-white font-semibold my-4">
    All places
  </h1>
  
  <div class="grid grid-cols-3 gap-6">
    <% @places.each do |place| %>
      <%= render 'place', place: place %>
    <% end %>
  </div>
</div>
