<div class="w-full h-screen flex flex-col">
  <h1 class="text-4xl my-4 text-white">Create a new place</h1>

  <div class="w-full mt-8 bg-gray-50 p-10 rounded-lg">
    <%= render 'form', place: @place %>
  </div>
</div>
